* {
  margin: 0;
  color: #161513;
}

.container {
  margin: 0;
  width: 960px;
  background-color: #e1d4c2;
  margin: 0 auto;
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  color: rgb(40, 40, 44);
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

body {
}

.menu {
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: #c8bcac;
  padding: 10px 8px;
}

.list2 ul {
  display: flex;
  gap: 50px;
}

a:link,
a:visited {
  color: #161513;
  text-decoration: none;
}

a:active,
a:hover {
  /* text-decoration: underline; */
  color: #3333ff;
  text-weight: bold;
}
ul a {
}

h2 {
  padding: 20px 0;
}
.pics {
  margin-top: 20px;
}
.author {
  font-size: small;
}
