* {
  margin: 0;
}

.container {
  margin: 0;
  width: 960px;
  background-color: antiquewhite;
  margin: 0 auto;
  padding: 10px;
}
h1 {
  color: rgb(40, 40, 44);
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

body {
}

.menu {
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: #c8bcac;
  padding: 20px 8px;
}

.list2 ul {
  display: flex;
  gap: 50px;
}

/* a:link,
a:visited {
  color: aqua;
  text-decoration: line-through;
  text-decoration: none;
}

a:active,
a:hover {
  text-decoration: line-through;
  text-decoration-color: maroon;
} */

ul a {
}

h2 {
  padding: 20px 0;
}
